body {
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans";
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-align: center;
}

h2 {
	font-size: 21px;
	line-height: 26px;	
}

figure {
	margin: 0;
}

h3 {
	font-size: 16px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.outline-positioner {
	outline: 2px solid red;
}

.outline-block {
	outline: 2px solid green;
}

.outline-div {
	outline: 2px solid blue;
}

.outline-item {
	outline: 2px solid yellow;
}

.positioner {
	width: 1200px;
	margin: 0 auto;
}

.logo {
	position: absolute;
	left: 46%;
}

.navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.navigation-list a {
	display: block;
	padding: 15px;
	font-size: 14px;
}

.navigation-list li {
	display: inline-block;
	width: 20%;
	min-height: 56px;
}

.navigation-list li:nth-child(2){
	margin-right: 120px;
}

.navigation-list li:nth-child(3){
	margin-left: 120px;
}


.contain-image {
	margin-bottom: 50px;
}

.image-words {
	position: absolute;
	top: 15%;
	left: 771px;
}

.contain-title,
.search-title {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.contain-title h2 {
	margin-bottom: 30px;
}

.contain-causes {
	min-height: 197px;
}

.cause-1 {
	margin-bottom: 50px;
}

.cause-1 div {
	width: 33%;
	float: left;
	padding-bottom: 60px;
}

.contain-causes h2 {
	padding-top: 50px;
}

.cause-1 figure {
	width: 67%;
	float: right;
}

.features {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin-bottom: 70px;
}

.cause-2 figure {
	width: 67%;
	float: left;	
}

.cause-2 div {
	width: 33%;
	float: right;
	padding-bottom: 60px;
}

.last-causes {
	width: 33%;
	min-height: 175px;
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
	padding-bottom: 50px;
}

.contain-search {
	padding-top: 30px;
	width: 567px;
	margin: 0 auto;
}

.search-button {
	min-height: 50px;
	padding-top: 34px;
}

.search-form {
	padding: 55px;
}

.search-form label {
	padding-bottom: 30px;
}

input[type="text"] {
	min-height: 38px;
}

.footer-contain {
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

.footer {
	min-height: 120px;
	padding-top: 50px;
}

.filters,
.result {
	padding: 30px 70px;
	text-align: left;
}

.result {
	padding: 0 70px;
}

.filters-infrastructure,
.filters-housing {
	width: 250px;	
	float: left;
}

.filters-price {
	width: 400px;
	float: right;
}

.result-sorting p,
.hotels-photo {
	width: 160px;
	float: left;
}

.result-sorting,
.hotels {
	padding: 32px 0;
}

.result p,
.result h2 {
	margin: 0;
}

.sorting-category,
.hotels-info {
	width: 600px;
	float: left;
}

.sorting-arrow,
.hotels-raitings {
	width: 300px;
	float: right;
	text-align: right;
}
