body {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: "PT Sans Narrow";	
}

h1 {
	font-size: 30px;
	line-height: 56px;
}

h2 {
	font-size: 24px;
	line-height: 42px;
}

/* распорка */
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* стили для визуализации блоков */
.outline-main {
	outline: 2px solid red;
}

.outline-contain {
	outline: 2px solid green;
}

.outline-item {
	outline: 2px solid blue;
}

/* стили для хэдэра */
.main-header {
	padding: 5px 0;
}

.container {
	width: 900px;
	margin: 0 auto;

	padding: 5px;
}

/* стили меню */
.navigation-list ul {
	margin: 0;
	margin-left: -40px;
	margin-right: -40px;
	list-style: none;
}

.navigation-list li {
	display: inline-block;
}

.navigation-list a {
	display: block;
	margin-right: 35px;
}

.navigation-list {
	width: 600px;	

	float: left;
}

/* стили для входа */
.user-block {
	width: 90px;

	float: right;
}

/* стили контейнера */
.contain {
	width: 940px;
	margin: 50px auto;

	padding: 5px;
}

.contain-header {
	margin-bottom: 44px;

	padding: 5px;
}

/* стили фильтров */
.filters {
	width: 190px;

	float: left;

	padding: 5px;
}

.filters-title {
	margin-top: 0;
	margin-bottom: 20px;
}

.filters-maker,
.filters-category {
	margin-bottom: 27px;
}

/* стили блока с продуктами */
.products {
	width: 720px;
	font-size: 0;

	float: right;

	padding: 5px;
}

.products-item {
	width: 220px;
	font-size: 14px;

	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
}

/* стили переключателя страниц */
.paginator {
	font-size: 14px;
	margin-top: 20px;
}

/* стили футера */
.footer-contacts {
	width: 310px;
	margin-right: 90px;

	float: left;
}

/* стили социальных кнопок */
.footer-social {
	width: 140px;

	float: left;
}

.footer-copyright {
	width: 220px;

	float: right;
}

/* стили блока с картинками */
.contain-images {
	width: 470px;

	float: left;

	padding: 5px;
}

.contain-images > figure {
	margin: 0;
	margin-bottom: 15px;
}

.images-prev {
	width: 460px;
	font-size: 0;

	padding: 5px;
}

.images-prev figure {
	display: inline-block;
	margin: 0;
	margin-right: 20px;	
}

.images-prev figure:last-child {
	margin-right: 0;
}

/* стили блока с информацией по продукту */
.contain-info {
	width: 390px;

	float: right;

	padding: 5px;
}

.info-header,
.info-description {
	margin-bottom: 29px;
}

.info-stock {
	width: 150px;

	float: left;
}

.info-article {
	width: 150px;

	float: right;
}

/* стили для кнопки с ценой */
.products-price {
	margin-bottom: 43px;
}

