body {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	font-family: "PT Sans Narrow";	
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 30px;
	line-height: 56px;
}

h2 {
	font-size: 24px;
	line-height: 42px;
}

/* распорка */
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* стили для визуализации блоков */
.outline-main {
	outline: 2px solid red;
}

.outline-contain {
	outline: 2px solid green;
}

.outline-item {
	outline: 2px solid blue;
}

.container {
	width: 980px; 
	margin: 0 auto;
/*   Текст не должен липнуть к краям. На макете видно, что есть отступ слева и справа по 10px*/

	padding: 0 10px;
}

 /*Зачем?*/


 /*У margin-bottom одно свойство должно быть.*/
.main-contain .container {
	padding: 30px 10px;
}


/* стили меню */
.navigation-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.navigation-list li {
	display: inline-block;
}

.navigation-list a {
	display: block;
	margin-right: 25px;
	padding: 0 10px;
	font-size: 14px;
}

.navigation-list li:last-child  a{
	margin-right: 0px;
}

.navigation-list {
	width: 800px;	/*А если еще меню добавить? Сделай места побольше. Там еще куча пустого места получается.*/

	float: left;
}

/* стили для входа */
.user-block {
	width: 90px;

	float: right;
}

/* стили контейнера */


.contain-header {
	margin-bottom: 44px;
}

/* стили фильтров */
.filters {
	width: 200px;

	float: left;
}

.filters-title {
	margin-top: 0;
	margin-bottom: 20px;
}

.filters-maker,
.filters-category {
	margin-bottom: 27px;
}

/* стили блока с продуктами */
.products {
	width: 700px;
	font-size: 0;

	float: right;
}

.products-item {
	width: 220px;
	font-size: 14px;

	display: inline-block;
	vertical-align: top;
	margin-right: 20px; /*Элементы должны касаться правой части контейнера.*/
	margin-bottom: 20px;
}

.products-item:nth-child(3),
.products-item:nth-child(6) {
	margin-right: 0;
}

/* стили переключателя страниц */
.paginator {
	font-size: 14px;
	margin-top: 20px;
}

/* стили футера */
.footer-contacts {
	width: 310px;
	margin-right: 90px;

	float: left;
}

/* стили социальных кнопок */
.footer-social {
	width: 140px;

	float: left;
}

.footer-copyright {
	width: 220px;

	float: right;
}

/* стили блока с картинками */
.contain-images {
	width: 470px;

	float: left;
}

.contain-images > figure {
	margin: 0;
	margin-bottom: 15px;
}

.images-prev {
	width: 460px;
	font-size: 0;
}

.images-prev figure {
	display: inline-block;
	margin: 0;
	margin-right: 20px;	
}

.images-prev figure:last-child {
	margin-right: 0;
}

/* стили блока с информацией по продукту */
.contain-info {
	width: 390px;

	float: right;
}

.info-header,
.info-description {
	margin-bottom: 29px;
}

.info-stock {
	width: 150px;

	float: left;
}

.info-article {
	width: 150px;

	float: right;
}

/* стили для кнопки с ценой */
.contain-info .products-price {
	margin-bottom: 43px;
}
